# ============================================================================
# Config file for  Variant Calling
#
# ==========================================[ Sections for the users ]========
#
# One of input_directory, input_pattern and input_samples must be provided
# If input_directory provided, use it otherwise if input_pattern provided,
# use it, otherwise use input_samples.
# ============================================================================
#
# Mandatory fields
input_directory: "%(input_directory)s"
input_readtag: "%(input_readtag)s"
input_pattern: "%(input_pattern)s"
annotation_file:
reference_file:
paired_data:


#################################################################
# sequencing information. These informations will be inserted as
# read group in BAM files
#
# :Parameters:
#
# - platform: Name of the sequencing platform
# - instrument: name ot the instrument type
# - flowcell: flowcell ID
sequencing:
    platform: Illumina
    instrument: Hiseq2500
    flowcell: H35CTBCXY
##############################################################################
# BWA - Mapping
#
# :Parameters:
#
# - reference_file: the name of the reference file.
# - index_algorithm: the BWA index algorithm (is or bwtsw).
# - options: any options recognised by BWA MEM tool.
# - threads: number of threads to be used.
# - tmp_directory: temporary directory
#
bwa_mem_ref:
    index_algorithm: 'is'
    options: '-T 30'
    threads: 2
    tmp_directory: './tmp/'

##############################################################################
# SnpEff - Annotate variants detected
#
# :Parameters:
#
# - do: if unchecked, this rule is ignored.
# - reference: genbank file.
# - options: any options recognised by snpEff.
#
# Requires the annotation file
#
#   Results filter options:
#	    -no-downstream: Do not show DOWNSTREAM changes
#	    -no-intergenic: Do not show INTERGENIC changes
#	    -no-intron: Do not show INTRON changes
#	    -no-upstream: Do not show UPSTREAM changes
#	    -no-utr: Do not show 5_PRIME_UTR or 3_PRIME_UTR changes
#
snpeff:
    do: no
    options: "-no-downstream -no-upstream"

##############################################################################
# Freebayes - Variant caller
#
# :Parameters:
#
# - ploidy: set the ploidy of your samples.
# - options: any options recognised by freebayes.
#
freebayes:
    ploidy: 1
    options: --legacy-gls

##############################################################################
# Joint Freebayes - Variant caller
#
# :Parameters:
#
# - options: any options recognised by freebayes.
#
joint_freebayes:
    do: false
    options:

##############################################################################
# Sambamba - Marks or removes duplicates
#
# :Parameters:
#
# - do: if unchecked, this rule is ignored.
# - remove: boolean if you want remove or not duplicated reads.
# - tmp_directory: set the temporary directory.
#
sambamba_markdup:
    do: yes
    remove: no
    tmp_directory: "./tmp/"

##############################################################################
# Filter reads with a mapping score lower than an integer 
#
# :Parameters:
#
# - do: if unchecked, this rule is ignored.
# - threshold: mapping score threshold (between 0 and 60).
#
sambamba_filter:
    do: yes
    threshold: 30

##############################################################################
# Sequana coverage - Analyse the coverage of the mapping 
#
# :Parameters:
#
# - do: if unchecked, this rule is ignored.
# - mixture_models: number of gaussian predicted.
# - circular: if your genome is circular.
# - window_size: window size to compute the running median.
# - low_threshold: threshold to detect low coverage regions.
# - high_threshold: threshold to detect high coverage regions.
# - gc_window_size: window size to compute GC content.
#
sequana_coverage:
    do: false
    circular: true
    window_size: 3001
    chunksize: 5000000
    double_threshold: 0.5
    gc_window_size: 201
    genbank_file: ''
    high_threshold: 4.0
    low_threshold: -4.0
    mixture_models: 2
    reference_file:

##############################################################################
# Filter VCF
#
# :Parameters:
#
# - freebayes_score: threshold for minimum freebayes quality score.
# - frequency: threshold for minimum alternative allele frequency.
# - min_depth: threshold for minimum coverage depth.
# - forward_depth: threshold for minimum coverage depth of forward strand.
# - reverse_depth: threshold for minimum coverage depth of reverse strand.
# - strand_ratio: threshold for minimum strand ratio between 0 and 0.5.
#
freebayes_vcf_filter:
    freebayes_score: 20
    frequency: 0.7
    min_depth: 10
    forward_depth: 3
    reverse_depth: 3
    strand_ratio: 0.2

##############################################################################
# Filter Joint VCF
#
# :Parameters:
#
# - freebayes_score: threshold for minimum freebayes score.
# - frequency: threshold for minimum alternative allele frequency.
# - min_depth: threshold for minimum coverage depth.
#
joint_freebayes_vcf_filter:
    freebayes_score: 200
    frequency: 0.8
    min_depth: 20


###########################################################################
#   MultiQC aggregates results from bioinformatics analyses across many
#   samples into a single report.
#
# :Parameters:
#
# - options: any options recognised by multiqc
# - output-directory: Create report in the specified output directory
# - config_file: by default, we use sequana RNA-seq multiqc_config file. 
#       If you want your own multiqc, fill this entry
multiqc:
    options: "-p -f -m snpeff -m sequana_coverage"
    outdir: multiqc
    config_file: multiqc_config.yaml

                                                                                             

